*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 100%;
  margin: 20px auto;
}

.box{
  background-color: #006CFA;
  text-align: center;
  border:  1px solid white;
  height: 35px;
  line-height: 35px;
}

.box-nest{
  background-color: yellow;
  margin: 2px;
  padding: 5px;
  line-height: 19px;
}

.seperator{
  height: 50px;
}
